<h1>Editing Transaction</h1>

<%= render 'edit', transaction: @transaction %>

<% if current_user.is_admin %>
    <%= link_to 'Back', transactions_path(:id => 1) %>
<% else %>
    <%= link_to 'Back', transactions_path() %>
<% end %>